fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pydantic-settings
python-multipart
httpx
beautifulsoup4
yt-dlp
pytesseract
Pillow
transformers
torch
librosa
langchain-text-splitters
youtube-transcript-api>=0.6.2
pypdf2
docx

sentence-transformers  
pgvector  
numpy
scikit-learn  
langchain  
langchain-community  
pydantic  
tenacity  
mlflow  
prometheus-client  
minio

pytest
pytest-asyncio
black
flake8
psutil