fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pydantic-settings
python-multipart
requests
beautifulsoup4
yt-dlp
pytesseract
Pillow
transformers
torch
librosa
langchain-text-splitters

sentence-transformers  
pgvector  
numpy
scikit-learn  
langchain  
langchain-community  
pydantic  
tenacity  
mlflow  
prometheus-client  

pytest
pytest-asyncio
black
flake8
psutil