fastapi
uvicorn
python-multipart
python-dotenv
sqlalchemy
psycopg2-binary
alembic
llama-index
llama-cloud
pillow
pytesseract
beautifulsoup4
requests
yt-dlp
transformers
torch
librosa
pydantic
pydantic-settings
langchain
langchain-text-splitters
openai
platformdirs